@model IEnumerable<ProyectoNukeMapuPewmaMVC.Models.Libro>
@{
    ViewData["Title"] = "Libro";
}

<div class="text-central">
    <h1 class="display-4">Catálogo de Libros</h1>
    <a asp-area=""  class="btn btn-success" asp-action="LibroCrear">Crear nueva</a>


    <table class="table"></table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Categoria</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @*
            @if (Model != null && Model.Any()) 
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Categoria</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Precio</td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                            <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            } 
            else
            {
                <tr>
                    <td colspan="4"><strong>No hay productos en la base de datos</strong></td>
                </tr>
            }
        </tbody>
        *@
    </table>


</div>
