@{
    ViewData["Title"] = "Artesanía";
}


<div class="text-central">
    <h1 class="display-4">Ñuke Mapu Peuma - Artesanía Unica</h1>
    <a asp-area=""  class="btn btn-success" asp-action="ArteCrear">Crear nueva</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @*foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Precio</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                        <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</div>
