@model IEnumerable<ProyectoNukeMapuPewmaMVC.Models.Ropa>
@{
    ViewData["Title"] = "Ropa";
}


<div class="text-central">
    <h1 class="display-4">Catálogo de Ropa</h1>
    <a asp-area=""  class="btn btn-success" asp-action="RopaCrear">Crear nueva</a>

    <section class="section-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Talla</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any()) 
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Talla</td>
                            <td>@item.Precio</td>
                            <td>@item.Cantidad</td>
                            <td>@item.Estado</td>
                            <td>
                                <a asp-action="RopaEditar" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                <a asp-action="RopaEliminar" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                } 
                else
                {
                    <tr>
                        <td colspan="5"><strong>No hay productos en la base de datos. Inserte elementos para visualizarlos</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

</div>
